<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.png"
         class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Sergio Ariel Carrizo Zarate</p>
        <p>Full stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem, ipsum dolor sit amet consectetur 
                adipisicing elit. Nulla dolores culpa nam, provident voluptas perspiciatis, omnis et sit soluta sed corrupti porro 
                aperiam velit sequi tenetur? Assumenda, vitae dolor? Quisquam.</p>
        </span>
    </div>
</div>
 